<li id="comment-<%= comment._id %>">
    <p>
        <img src="<%= comment.user.avatar %>" alt=" <%= i.user.name %> " width="50">
        <!-- && locals.user.id == comment.user.id -->
        <% if(locals.user) { %>
            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">X</a>
            </small>
        <% } %>
        
        <small>
            <%= comment.user.name %>
        </small>
        <br>
        <%= comment.content %>
    </p>
</li>