<link rel="stylesheet" href="/css/header.css">

<header>
    <nav>
        <div class="nav-left">
            <a href="/">
                <img src="/images/logo.png" alt="logo" class="logo">
            </a>
        </div>

        <% if (locals.user) { %>
            
            <div class="nav-right">
                <div class="nav-user-icon">
                    <img src="<%= user.avatar %>" alt="<%= user.name %>" onclick="settingsMenuToggle()">
                </div>
            </div>

            <!-- left-sidebar -->
            <div class="settings-menu">
                <div class="settings-menu-inner">
                    <div class="user-profile">
                        <img src="<%= user.avatar %>" alt="<%= user.name %>">
                        <div> 
                            <p>
                                <%= user.name %>
                            </p>
                            <a href="/users/profile/<%= user._id %>">
                                See your profile
                            </a>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="settings-links-container">
                        <div class="settings-icon">
                                <i class="ri-login-box-line ri-xl"></i>
                            </div>
                            <a href="/users/sign-out">
                                Logout
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>

            <% } else { %>

                <div class="nav-right">
                    <div class="signin-signup-container">
                        <li>
                            <a href="/users/sign-in" class="anchor-btn">Sign In</a>
                        </li>
                        <li>
                            <a href="/users/sign-up" class="anchor-btn">Sign Up</a>
                        </li>
                    </div>
                </div>

            <% } %>
    </nav>

<!--     
    <ul>
        <% if (locals.user) { %>
            <li>
                <a href="/users/profile">
                    <%= user.name %> </li>
                </a> 
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
        <% } else { %>
            <li>
                <a href="/users/sign-in">Sign In</a>
            </li>
            
            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li>
        <% } %>
    </ul> 
-->

</header>

<script src="/js/navbar_setting.js"></script>