<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="../assets/CSS/layout.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>
        
        <%- body %>
        
        <%- include('footer'); %>

        <%- script %>
    </body>
</html>
