<link rel="stylesheet" href="/css/user_profile.css" />

<div class="user-profile-container">
    <div class="container">
        <h2>Profile</h2>
        <div class="inner-container">
            <% if(user.id == profile_user.id){ %>
                <form action="/users/update/<%= profile_user.id %>" method="post" enctype="multipart/form-data">
                    <!-- if user matches then show the form -->
                    <div class="form-container">
                        <input type="text" name="name" placeholder="Your Name" class="input-text" value="<%= profile_user.name %>" required>
                        <input type="email" name="email" placeholder="Your Email" class="input-text" value="<%= profile_user.email %>" required>
                        <input type="file" name="avatar" placeholder="Profile Picture">
                        <input type="submit" value="Update" class="submit-btn">
                    </div>
                </form>
                <hr>
                <div class="sign-container">
                    <a href="/users/sign-out" class="anchor-btn">Logout</a>
                </div>
            <% }else{ %>
            <table class="table">
                <!-- else show only the profile info -->
                <hr/>
                <tbody>
                    <tr>
                        <td style="padding-right: 15px;">Name</td>
                        <td class="profile-detail-name"><%= profile_user.name %></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><%= profile_user.email %></td>
                    </tr>
                </tbody>
            </table>
            <% } %>
        </div>
    </div>
</div>